@import "normalize.css";
@import "bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SFUIDisplay-Semibold.woff2') format('woff2'),
      url('../fonts/SFUIDisplay-Semibold.woff') format('woff'),
      url('../fonts/SFUIDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SFUIDisplay-Medium.woff2') format('woff2'),
      url('../fonts/SFUIDisplay-Medium.woff') format('woff'),
      url('../fonts/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
      url('../fonts/BebasNeueBold.woff') format('woff'),
      url('../fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SFUIDisplay-Heavy.woff2') format('woff2'),
      url('../fonts/SFUIDisplay-Heavy.woff') format('woff'),
      url('../fonts/SFUIDisplay-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
      url('../fonts/BebasNeueRegular.woff') format('woff'),
      url('../fonts/BebasNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SFUIDisplay-Bold.woff2') format('woff2'),
      url('../fonts/SFUIDisplay-Bold.woff') format('woff'),
      url('../fonts/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SFUIDisplay-Black.woff2') format('woff2'),
      url('../fonts/SFUIDisplay-Black.woff') format('woff'),
      url('../fonts/SFUIDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SFUIDisplay-Light.woff2') format('woff2'),
      url('../fonts/SFUIDisplay-Light.woff') format('woff'),
      url('../fonts/SFUIDisplay-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueLight.woff2') format('woff2'),
      url('../fonts/BebasNeueLight.woff') format('woff'),
      url('../fonts/BebasNeueLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Thin.woff2') format('woff2'),
      url('../fonts/BebasNeue-Thin.woff') format('woff'),
      url('../fonts/BebasNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/BebasNeueBook.woff2') format('woff2'),
      url('../fonts/BebasNeueBook.woff') format('woff'),
      url('../fonts/BebasNeueBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SFUIDisplay-Thin.woff2') format('woff2'),
      url('../fonts/SFUIDisplay-Thin.woff') format('woff'),
      url('../fonts/SFUIDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SFUIDisplay-Ultralight.woff2') format('woff2'),
      url('../fonts/SFUIDisplay-Ultralight.woff') format('woff'),
      url('../fonts/SFUIDisplay-Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


body{
  font-family: 'SF UI Display', sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #313131;
}
img{
  max-width: 100%;
}
input,
button,
button:focus{
  outline: none;
  box-shadow: none !important;
}
.header{
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 53%, rgba(255,255,255,0.6) 75%, rgba(255,255,255,0) 100%);
}
a:hover{
  text-decoration: none;
}
.btn-callback{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: linear-gradient(158.45deg, rgba(162, 255, 240, 0.85) -42.33%, rgba(10, 198, 167, 0.65) 30.72%, rgba(28, 145, 231, 0.85) 111.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 12px 25px;

}

.main-nav a{
  margin-right: 40px;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #313131;
  transition: all .3s ease;
}
.main-nav a:last-of-type{
  margin-right: 0;
}
.main-nav a.active{
  font-weight: 600;
}
.main-nav a:hover{

}
.main-banner{
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 80px;
}
.banner-title{
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 0.04em;
  background: linear-gradient(188.65deg, #12B3C9 6.6%, rgba(31, 174, 193, 0) 95.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 25px;
}
.banner-title .black{
  color: #000;
  -webkit-text-fill-color: #000;
}
.banner-text{
  font-family: 'SF UI Display';
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #313131;
  margin-bottom: 40px;
}
.btn-regular{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(180deg, #BBFEE6 -26.46%, #01BCBC 100%);
  border-radius: 40px;
  width: 300px;
  height: 60px;
  -webkit-box-shadow: 0px 5px 10px 10px rgba(1, 188, 188, 0.2);
  -moz-box-shadow: 0px 5px 10px 10px rgba(1, 188, 188, 0.2);
  box-shadow: 0px 5px 10px 10px rgba(1, 188, 188, 0.2) !important;
  border: none;
  position: relative;
  z-index: 1;
}
.main-banner .btn-regular{
  position: relative;
}
.main-banner .btn-regular:before{
  content: "FREE";
  position: absolute;
  right: -10px;
  top: -30px;
  width: 58px;
  height: 58px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7px);
  border-radius: 100px;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F06344;
  transform: rotate(-22.02deg);
  padding: 18px 0;
}
.banner-text{
  position: relative;
}
.banner-text:before{
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  top: 35px;
  right: -17px;
  background-image: url(../img/icon-arrow.png);
}
section{
  padding: 60px 0;
}
.section-title{
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #313131;
  margin-bottom: 60px;
  text-align: center;
}
.feet-box{
  padding: 15px;
  border-radius: 10px;
  filter: drop-shadow(0px 10px 40px rgba(40, 40, 40, 0.15));
  background-size: cover;
  background-position: right;
  height: 157px;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #313131;
}
.feet-box ul{
  padding-left: 20px;
  margin-top: 12px;
}
.block-quotte{
  max-width: 570px;
  background: #FFFFFF;
  box-shadow: 0px 10px 70px rgba(40, 40, 40, 0.1);
  border-radius: 10px;
  padding: 28px 60px;
  margin: auto;
  font-family: 'SF UI Display';
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #313131;
  position: relative;
}
.block-quotte span{
  color: #28B8CC;
  border-bottom: 1px solid #28B8CC;
  font-weight: 400;
}
.block-quotte:before{
  content: "";
  position: absolute;
  width: 33px;
  height: 31px;
  left: 30px;
  top: -15px;
  background-image: url("../img/icon-mark1.svg");
}
.block-quotte:after{
  content: "";
  position: absolute;
  width: 33px;
  height: 31px;
  right: 30px;
  bottom: -15px;
  background-image: url("../img/icon-mark2.svg");
}
.section-subtitle{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #545454;
  letter-spacing: 0.02em;
}
.musculoskeletal ul li span{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  display: block;
}
.musculoskeletal ul li{
  font-weight: 300;
  font-family: 'SF UI Display';
  font-size: 17px;
  position: relative;
  list-style: none;
  padding-left: 9px;
  margin-bottom: 15px;
}
.musculoskeletal ul li:before{
  content: "";
  position: absolute;
  top: 6px;
  left: -5px;
  width: 7px;
  height: 7px;
  background: #28B8CC;
  border-radius: 1px;
}
.musculoskeletal-title{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 110%;
  color: #28B8CC;
  margin-bottom: 50px;
  max-width: 350px;
}
.musculoskeletal-subtitle{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #313131;
  margin-bottom: 20px;
}
.musculoskeletal-subtitle img{
  margin-right: 8px;
}

.callback-title{
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 110%;
  letter-spacing: 0.04em;
}
.callback{
  background-image: url("../img/callback-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.musculoskeletal{
  background-image: url("../img/circle.png");
  background-position: 48% center;
  background-repeat: no-repeat;
}
.musculoskeletal-tooltips{
  max-width: 320px;
  position: relative;
  z-index: 1;
  left: -20px;
}
.musculoskeletal-tooltips div{
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all .5s ease;
}
.musculoskeletal-tooltips .active{
  transform: scale(1.8);
}
.musculoskeletal-tooltips div:before{
  content: "";
  position: absolute;
  left: -3.6px;
  top: -3.6px;
  width: 20px;
  height: 20px;
  border: .7px dashed #fff;
  border-radius: 50%;
  transition: all .5s ease;
}
.musculoskeletal-tooltips .active:before{
  transform: rotate(90deg);
}
.musculoskeletal-tooltip1{
  top: 14%;
  left: 49%;
}
.musculoskeletal-tooltip2{
  top: 26%;
  left: 38%;
}
.musculoskeletal-tooltip3{
  top: 41%;
  left: 43%;
}
.musculoskeletal-tooltip4{
  top: 48%;
  left: 45%;
}
.musculoskeletal-tooltip5{
  top: 59%;
  left: 82%;
}
.musculoskeletal-tooltip6{
  top: 85%;
  left: 66%;
}
.musculoskeletal-tooltip7{
  top: 87%;
  left: 4%;
}
.musculoskeletal-tabs{
  width: 470px;
  max-width: 470px;
  background: #FFFFFF;
  box-shadow: -20px 10px 40px rgba(40, 40, 40, 0.2);
  border-radius: 10px;
  padding: 0 50px 30px 80px;
  position: absolute;
  right: 0;
}
.musculoskeletal-tabs ul{
  border: none;
}
.musculoskeletal-tabs li{
  padding: 0 !important;
  list-style: none;
}
.musculoskeletal-tabs li a{
  width: 17px;
  height: 28px;
  padding: 0;
  margin-right: 28px;
  background: rgba(49, 49, 49, 0.1);
  border: none !important;
  border-radius: 0 !important;
  position: relative;
  transition: all .5s ease;
}
.musculoskeletal-tabs li a:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8px;
  border: 8.1px solid transparent;
  border-bottom: 8px solid #fff;
  transition: all .5s ease;
}
.musculoskeletal-tabs li a.active{
  background-color: #313131 !important;
}
.musculoskeletal-tabs li a.active:before{
  background: #313131;
}
.musculoskeletal-tabs ul li:before{
  display: none;
}
.musculoskeletal-tabs__title{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #313131;
  margin: 20px 0;
}
.musculoskeletal-tabs p{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #313131;
}
.advantages{
  position: relative;
  background: linear-gradient(111.54deg, rgba(162, 255, 240, 0.4) -17.62%, rgba(28, 145, 231, 0.85) 68.49%);
}
.advantages-bg{
  position: absolute;
  bottom: 75px;
  left: 16%;
}
.advantages-box{
  padding: 30px 25px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-image: url("../img/advantages-circle.png");
  background-repeat: no-repeat;
  background-position: right 15px top 15px;
}
.advantages-title{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: #000;
  text-transform: uppercase;
  padding: 0;
}
.advantages p{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  margin-top: 30px;
}
.advantages-img{
  position: absolute;
}
.advantages .row .col-md-4:nth-child(4){
  margin-top: -65px;
}
.advantages .row .col-md-4:nth-child(5){
  margin-top: 15px;
}
.advantages .row .col-md-4:nth-child(6){
  margin-top: 35px;
}
.advantages .row .col-md-4:nth-child(7){
  margin-top: -130px;
}
.advantages .row .col-md-4:nth-child(1) .advantages-img{
  top: -25px;
  right: 20px;
}
.advantages .row .col-md-4:nth-child(2) .advantages-img{
  top: -20px;
  right: 30px;
}
.advantages .row .col-md-4:nth-child(3) .advantages-img{
  top: -8px;
  right: 42px;
}
.advantages .row .col-md-4:nth-child(4) .advantages-img{
  top: 0;
  right: 35px;
}
.advantages .row .col-md-4:nth-child(5) .advantages-img{
  top: -25px;
  right: 20px;
}
.advantages .row .col-md-4:nth-child(6) .advantages-img{
  top: -10px;
  right: 45px;
}
.advantages .row .col-md-4:nth-child(7) .advantages-img{
  top: 25px;
  right: 25px;
}
.attention-box{
  padding: 30px 25px;
  box-shadow: 0px 10px 70px rgba(40, 40, 40, 0.1);
  border-radius: 10px;
  background-color: #fff;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #313131;
  margin-top: 130px;
  position: relative;
}
.attention-box__img{
  position: absolute;
  bottom: 35px;
  right: 30px;
}
.musculoskeletal .attention-box__img{
  position: absolute;
  bottom: 40px;
  right: -60px;
  z-index: 1;
}
.musculoskeletal .attention-box{
  margin-top: 30px;
}
.age-box{
  background: #FFFFFF;
  box-shadow: 0px 10px 70px rgba(40, 40, 40, 0.1);
  border-radius: 20px;
  padding: 50px 40px;
  margin-top: 80px;
}
.age-title{
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.04em;
  color: #28B8CC;
  margin-bottom: 30px;
}
.plus{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 130%;
  color: #000000;
}
.plus-title{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;
}
.plus-img{
  height: 43px;
  margin-bottom: 20px;
}
.age-box .row .col-md-4:nth-child(2){
  padding: 0 30px;
  border-right: 1.5px dashed rgba(0, 0, 0, 0.2);
  border-left: 1.5px dashed rgba(0, 0, 0, 0.2);

}
.technologies-box__img{
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 30px;
}
.technologies-box{
  background: #FFFFFF;
  box-shadow: 0px 10px 70px rgb(40 40 40 / 10%);
  border-radius: 20px;
  padding: 50px 40px;
  margin-top: 80px;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 130%;
  color: #000000;
}
.technologies-box .col-md-3:before{
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  width: 16px;
  height: 16px;
  background-image: url("../img/technologies-circle.svg");
}
.technologies-box .col-md-3:nth-child(even):before{
  top: -5px;
  left: 20px;
}
.technologies-box .col-md-3:last-of-type:before{
  left: -3px;
  top: -4px;
}
.technologies-box .col-md-3:nth-child(1):before{
  right: 12px;
}
.technologies-box .col-md-3:nth-child(2):before{
  top: 0px;
  left: 24px;
}
.technologies-box .col-md-3:nth-child(3):before{
  top: 2px;
  right: -40px;
}
.technologies-box .col-md-3:nth-child(4):before{
  left: 20px;
  right: auto;
  top: 3px;
}
.technologies-box .col-md-3:nth-child(5):before{
  top: -9px;
  right: 17px;
}
.technologies-box__img:nth-child(2){
  bottom: 90px;
}
.technologies-box .col-md-3:nth-child(1){
  margin-bottom: 14px;
}
.technologies-box .col-md-3:nth-child(3){
  margin-top: 55px;
  padding-left: 39px;
}
.technologies-box .col-md-3:nth-child(4){
  margin-top: 52px;
}
.technologies-box .col-md-3:nth-child(5){
  margin-top: 80px;
}
.technologies-box .col-md-3:nth-child(6){
  margin-top: -133px;
  padding-left: 50px;
}
.plus .attention-box{
  margin-top: -40px;
  font-size: 19px;
}
.manufacturing{
  padding-top: 320px;
  position: relative;
  top: -300px;
  z-index: -1;
  background: linear-gradient(157.65deg, rgba(110, 233, 213, 0.85) -9.06%, rgba(28, 145, 231, 0.85) 102.83%);
}
.manufacturing .row .col-6:nth-child(2){
  margin-top: 140px;
}
.manufacturing-box{
  position: relative;
  padding-top: 60px;
  margin-bottom: 80px;
}
.manufacturing-box__numb{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 25px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 100px;
  line-height: 121px;
  background: linear-gradient(188.65deg, #1292C9 6.6%, rgba(31, 174, 193, 0) 95.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  z-index: -1;
}
.manufacturing-box__img{
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  margin-right: 20px;
}
.manufacturing-box__title{
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.manufacturing-box p{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 130%;
  color: #FFFFFF;
}
.callback{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 80px 0 100px;
}
.callback-title{
  margin-bottom: 40px;
}
.callback a{
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 25px;
  display: inline-block;
}
.form-box{
  background: rgba(245, 245, 245, 0.35);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 40px;
}
.form-box button{
  width: 100%;
  margin-bottom: 15px;
}
.form-box__title{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form-box p{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
.form-box input{
  background: #FBFBFB;
  border-radius: 50px;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin-bottom: 10px;
}
.form-box input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.011em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.form-box input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.011em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.form-box input::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.011em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}
.footer,
.footer a{
  background: #09475E;
  padding: 30px 0;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer a{
  text-decoration: underline;
}
.diagnostics{
  margin-top: -260px;
  background-image: url("../img/diagnostics-dashed.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.diagnostics-box__img{
  text-align: center;
}
.diagnostics-box{
  position: relative;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  padding-top: 150px;
}
.diagnostics-box__item{
  position: absolute;
  max-width: 250px;
}
.diagnostics-box__item:nth-child(2){
  bottom: 120px;
  left: 11%;
}
.diagnostics-box__item:nth-child(3){
  bottom: 305px;
  left: 7%;
}
.diagnostics-box__item:nth-child(4){
  bottom: 505px;
  left: 12%;
}
.diagnostics-box__item:nth-child(5){
  top: -30px;
  left: 46%;
}
.diagnostics-box__item:nth-child(6){
  top: 175px;
  left: auto;
  right: 5%;
}
.diagnostics-box__item:nth-child(7){
  bottom: 220px;
  left: auto;
  right: 0%;
}
.diagnostics-box__numb{
  position: relative;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: #EDEDED;
  padding-left: 15px;
}
.diagnostics-box__numb:before{
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: 5px;
  top: 15px;
  background-image: url("../img/icon-tick.svg");
}
.diagnostics .attention-box{
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-top: -30px;
}
.attention-box__title{
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #313131;
}